html {
    display: flex;
    height: 100%;
    flex-direction: column;
}

body {
    --darkgrey: #272727;
    --lightgrey: #747474;
    --orange: #FF652F;
    --yellow: #FFE400;
    --green:#14A76C;

    background-color: var(--darkgrey);

    display: flex;
    flex-direction: column;
    flex: 1;
}

#title {
    display: flex;

    font-size: 80px;
    font-weight: bold;

    justify-content: center;

    color: var(--yellow);
}

#buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 30px;
}

#play-button {
    background-color: var(--green);

    border: var(--lightgrey) solid 2px;
    border-radius: 5px;

    padding: 50px 100px;

    font-size: 50px;
    font-weight: 400;
}

.choice-button {
    background-color: var(--orange);

    border: var(--lightgrey) solid 2px;
    border-radius: 50px;

    padding: 30px 60px;

    font-size: 35px;
    font-weight: 400;
    
}